*{
    box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
    .itemSection {
        flex-direction: row;
        margin-left:20%;
        margin-right:20%;
    }
    .itemProperties {
        justify-content:space-around;
    }
    .itemSection .itemProperties .itemSpecification {
      padding-left:35px;
    }
    .itemSection .itemProperties .quantity {
        display:flex;
        flex:1;
        margin-left:10px;
      }
    .totalSection {
      margin-left:20%;
      margin-right:20%;
    }
    #checkoutBtn {
      display:none;
    }
}

@media only screen and (max-width: 768px) {
    .itemSection {
        flex-direction: column;
    }
    .itemProperties {
        justify-content:flex-end;
    }
    .itemSection .itemProperties .quantity {
      display:flex;
      flex:1;
      margin-left:45%;
    }
    .itemSection .itemProperties .itemSpecification {
      flex:1;
      align-self:center;
    }
    .totalSection a {
        display:none;
    }
    .footer-container {
      display:none;
    }
    #checkoutBtn {
        display: block;
        border: 1px solid black;
        width: 100%;
        background-color:#172C50;
        color: white;
        padding: 25px;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }
}

img {
    object-fit: contain;
    width:100px;
    height:100px;
}

.itemSection {
    display:flex;
    /* border: 5px solid yellow; */
}
.itemSection .itemImage {
     display:flex;
    /* border: 3px solid black; */
    flex:2;
}
.itemSection .itemImage p {
    align-self: center;
    font-size:12px;
    /* padding-right:25px;
    padding-left:25px; */
}
.itemSection .itemProperties {
    display:flex;
    /* border: 3px solid black; */
    flex:3;
}

.itemSection .itemProperties .quantity {
  display:flex;
  flex:1;

}
.itemSection .itemProperties .itemSpecification {
  flex:1;
  align-self:center;
}

.itemSection .itemProperties .quantity p {
  flex:1;
  align-self:center;
}
.itemSection .itemProperties p {
    color:#757575;
}
.itemSection .itemProperties .quantity select {
  flex:1;
  align-self:center;

}

.totalSection {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-content: center;
    /* border: 5px solid cyan; */
}
.totalSection p,a {
    flex:1fr;
}
.totalSection p {
    font-weight: bold;
}
.totalSection a {
    border:1px solid black;
    min-width:120px;
    height:20%;
    padding-top:12px;
    padding-bottom:12px;
    margin-top:1.5%;
    margin-right:5%;
    margin-left:5%;
}
.totalSection>p {
    margin-right:5%;
}
select {
    width: 100%;
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    outline: none;
  
}
.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.display-cart :last-child {
    color:#757575;
    font-size:12px;
}
.display-cart {
    margin-top:80px;
}
