option {
    text-align:left;
}
 @media only screen and (min-width: 768px) {
      #itemPortion {
        grid-template-columns:1fr 1fr;
      }
      #footerBtn {
          display:none;
      }
      .btn{
        display:inline-block;
      }
      .navItems p {
        display:inline;
      }
      body
      {
        margin-left: 10%;
        margin-right: 10%;
      }
      #itemPortion {
        box-sizing:border-box;
        padding-left:100px;
        padding-right:100px;
      }
}
@media only screen and (max-width: 768px) {
      #itemPortion {
        grid-template-columns:1fr;
        max-width:100%;
      }
      a {
          max-width:100%;
      }
      .footer-container {
        display:none;
      }
      #footerBtn {
        display: block;
        border: 1px solid black;
        width: 100%;
        background-color:#172C50;
        color: white;
        padding: 25px;
        box-sizing: border-box;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .btn {
        display:none;
      }
      .navItems p {
        display:none;
      }
      body {
        margin-left: 10px;
        margin-right: 10px;
      }
}
#itemPortion  {
  display:grid;
  margin-top:10%;
  max-width:100%;
}
#itemSpecification{
  display:flex;
  flex-direction: column;
  max-width:auto;
  max-width:100%;
}
#itemSpecification p{
  /* flex:.4; */
  text-align:left;
  max-width:100%;

}
.selectors {
  /* flex:.5; */
  text-align:left;
  
}
.selectors-1 {
  border-top:1px solid #757575;
  border-bottom:1px solid #757575;
  max-width:100%;
}
.selectors-2 {
  border-bottom:1px solid #757575;
  max-width:100%;
}
#itemSpecification a {
  border:2px solid black;
  color:black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  width:175px;
  max-width:100%;
}
p {
    width:100%;
    line-height: 1em;
    max-width:100%;
}
#imgItem {
  width:auto;
  height:auto;
}
.btn {
  /* display: inline-block; */
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: var(--app-primary-color);
  margin: 0;
  padding: 8px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  max-width:100%;
}
select {
  /* width: 100%; */
  font-size: 16px;
  padding: 16px 24px 16px 70px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  font-weight: 300;
  overflow: hidden;
  margin: 0;
  outline: none;
  max-width:100%;

}
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width:100%;
}
h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  text-align: left;
  max-width:100%;
}
.selectors label {
  color:#757575;
  position: relative;
  top:25px;
  max-width:100%;
}
.selectors select {
  position: relative;
  top:-7px;
  max-width:100%;
}
.description {
  font-family: 'Roboto', 'Noto', sans-serif;
  margin: 16px 0;
  font-size: 13px;
  text-align: left;
  max-width:100%;
}
#priceTag {
    margin: 16px 0 40px;
    font-size: 16px;
    color:#757575;
    font-family: 'Roboto', 'Noto', sans-serif;
    max-width:100%;
}
.item-description {
  color:#757575;
  display:block;
  max-width:100%;
}