@media only screen and (max-width: 1200px) {
  body {
    margin:0% 0% 0% 0%;
  }
  .navItems {
    display:none;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    margin:0% 10% 0% 10%;
  }
}
* {
  padding-top:2px;
  padding-bottom:2px;
}
.sectionImages {
  display:flex;
}
.sectionC1_IMG {
  width:100%;
}
.sectionC2_IMG {
  width:100%;
}
.sectionButtons {
 display:flex;
 justify-content:space-around;;
}
