* {
    box-sizing: border-box;
}
@media only screen and (max-width: 1489px) {
  body {
    margin:0% 0% 0% 0%;
  }
  .navItems {
    display:none;
  }
}
@media only screen and (min-width: 1489px) {
  body {
    margin:0% 10% 0% 10%;
  }
}
@media only screen and (min-width: 768px) {
      #sectionB {
        grid-template-columns:auto auto auto;
      }
}
@media only screen and (max-width: 768px) {
    .sectionImages img {
        display:none;
      }
      #sectionB {
        grid-template-columns:auto auto;
      }
      #sectionB img {
      }
}
.btn {
  color:black;
  text-decoration:none;
  padding:.5em 2em;
  border:1px solid black;
  margin:2em;
}
.sectionImages {
  display:flex;
  /* justify-content: space-evenly; */
  grid-gap:5%;
}
#sectionB {
  display:grid;
  /* grid-gap: 1em; */
}
#sectionB img {
  object-fit: contain;
   padding:1em;
}
.item-name {
  color: var(--app-primary-color);
  font-weight: bold;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.item-price {
  color:#757575;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  line-height: 1.5;

}
.pContents {
  display:block;
}
.pContents :last-child {
  color:#757575;
}
