* http: //meyerweb.com/eric/tools/css/reset/

v2.0 | 20110126 License: none (public domain) */ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 326px;
}

a {
  display: inline;
  color: black;
  text-decoration: none;
  margin: 0% 0% 0% 0%;
}

.btn {
  color: black;
  box-sizing: border-box;
  text-decoration: none;
  padding: .5em 2em;
  border: 2px solid black;
  margin-bottom: 25px;
}

.pContents {
  display: flex;
  justify-content: space-around;
}

.navItems p {
  display: inline-block;
  margin: 1em;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding: 12px 5px;
}

#footer_p {
  display: inline-block;
  background-color: #323232;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.footer-container {
  text-align: center;
}

.footer-container a {
  text-decoration: none;
  font-size: 13px;
  color: #555555;
}

.demo-text {
  color: white;
  background-color: black;
  padding: 6px;
  width: 120px;
  margin: 8px auto 0 auto;
  line-height: 24px;
}
p {
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5em;
}
header h2 a {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
}
